<div>
  <app-message *ngIf="showErrorMessage" text="There are errors in the form" type="error"/>
  <app-message *ngIf="showReset" text="The form has been reset" type="info"/>
  <app-message *ngIf="showSuccessMessage" text="Form submitted successfully" type="success"/>
  <div *ngIf="!showErrorMessage && !showReset && !showSuccessMessage" class="divToCloseSpace"></div>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
    <div class="formTitle">Experience Form</div>

    <div class="formField">
      <label class="fieldLabel" for="name">Name</label>
      <input
        [ngClass]="{'formErrorInput': submitted && myForm.controls['name'].invalid && !nameChanged, 'formInput': !submitted || !myForm.controls['name'].invalid}"
        type="text"
        id="name"
        formControlName="name"
        #name
        (keydown.enter)="focusNext(name)">
      <div class="divForMessage">
        <div
          *ngIf="submitted && myForm.controls['name'].invalid && !nameChanged"
          class="error-message"
        >
          {{myForm.controls['name'].errors?.['required'] && 'Name is required.'}}
        </div>
      </div>
    </div>

    <div class="formField">
      <label class="fieldLabel" for="surname">Surname</label>
      <input
        [ngClass]="{'formErrorInput': submitted && myForm.controls['surname'].invalid && !surnameChanged, 'formInput': !submitted || !myForm.controls['surname'].invalid}"
        type="text"
        id="surname"
        formControlName="surname"
        #surname
        (keydown.enter)="focusNext(surname)">
      <div class="divForMessage">
        <div
          *ngIf="submitted && myForm.controls['surname'].invalid && !surnameChanged"
          class="error-message"
        >
          {{submitted && myForm.controls['surname'].errors?.['required'] && 'Surname is required.'}}
        </div>
      </div>
    </div>

    <div class="formField">
      <label class="fieldLabel" for="email">Email</label>
      <input
        [ngClass]="{'formErrorInput': submitted && myForm.controls['email'].invalid && !emailChanged, 'formInput': !submitted || !myForm.controls['email'].invalid}"
        type="email"
        id="email"
        formControlName="email"
        #email
        (keydown.enter)="focusNext(email)">
      <div class="divForMessage">
        <div
          *ngIf="submitted && myForm.controls['email'].invalid && !emailChanged"
          class="error-message"
        >
        {{myForm.controls['email'].errors?.['required'] ?
        'Email is required.' :
        myForm.controls['email'].errors?.['invalidEmail'] &&
        'Invalid email format.'}}
      </div>
      </div>
    </div>

    <div class="formField">
      <label class="fieldLabel" for="workingExperience">Working Experience (months)</label>
      <input
        [ngClass]="{'formErrorInput': submitted && myForm.controls['workingExperience'].invalid && !workingExperienceChanged, 'formInput': !submitted || !myForm.controls['workingExperience'].invalid}"
        type="text"
        id="workingExperience"
        formControlName="workingExperience"
        #workingExperience
        (keydown.enter)="focusNext(workingExperience)">
      <div class="divForMessage">
        <div
          *ngIf="submitted && myForm.controls['workingExperience'].invalid && !workingExperienceChanged"
          class="error-message"
        >
          {{myForm.controls['workingExperience'].errors?.['required'] ?
          'Working experience is required.' :
          myForm.controls['workingExperience'].errors?.['invalidExperience'] &&
          'Invalid working experience format.'}}
        </div>
      </div>
    </div>

    <div class="fieldButtons">
      <button class="formSubmitButton" type="submit" (keydown.enter)="onSubmit()">Submit</button>
      <button class="formResetButton" type="button" (click)="onReset()" (keydown.enter)="onReset()">Reset</button>
    </div>
  </form>
</div>
