form{
  padding: 30px;
  width: 270px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid var(--color-light-border);
  height: fit-content;
  box-shadow: 0px 10px 15px 5px var(--color-light-border);
  --color-light-border: #a1a1a1;
  --color-dark-border: #1a1a1a;
  --color-buttons: #364658;
  --color-error: #e53935;
  --color-success: #4caf50;
}

.formField{
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

.formInput{
  border: 1px solid var(--color-light-border);
  border-radius: 5px;
  padding: 10px;
  transition: all 500ms;
  font-size: 16px;
}

.formInput:focus{
  border: 1px solid var(--color-dark-border);
  outline: none;
}

.formErrorInput{
  border: 1px solid var(--color-error);
  border-radius: 5px;
  transition: all 500ms;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

.fieldLabel{
  font-size: 17px;
  margin-bottom: 3px;
}

.divForMessage{
  height: 16px;
  width: 100%;
  display: flex;
}

.fieldButtons{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.formSubmitButton, .formResetButton{
  background: var(--color-buttons);
  border-radius: 7px;
  color: white;
  height: 40px;
  width: 120px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0px 2px 10px 3px var(--color-light-border);
}

.formTitle{
  font-size: 22px;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.error-message{
  font-size: 16px;
  transition: all 500ms;
  color: #e53935;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    filter: blur(5px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

.divToCloseSpace{
  height: 48px;
  margin-bottom: 30px;
}
